html, body, #app {
  height: 100%;
  background-color: #f3f3f3;
  font-family: PuHuiTi, 'Helvetica Neue', Helvetica, 'PingFang SC',
    'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
}

@font-face {
  font-family: PuHuiTi;
  src: url('https://wegymercdn.gymcity.com.cn/fonts/Alibaba-PuHuiTi-Regular.ttf');
  font-weight: normal;
}